name: lint
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [main]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: false
      - name: golangci-lint-server
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          working-directory: server
          args: --timeout=30m
        continue-on-error: ${{ github.ref == 'refs/heads/main' }}
      - name: golangci-lint-client
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          working-directory: client
          args: --timeout=30m
        continue-on-error: ${{ github.ref == 'refs/heads/main' }}
      - run: go install golang.org/x/tools/cmd/goimports@latest
      - run: bash server/api/installBuf.bash
      - name: pre-commit
        uses: pre-commit/action@v3.0.1
        continue-on-error: ${{ github.ref == 'refs/heads/main' }}
      - uses: ls-lint/action@v2.2.3
        with:
          config: .ls-lint.yaml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        if: github.ref == 'refs/heads/main'
        with:
          commit-message: fixed formatting mistakes have sneaked into prod
          title: "chore(formatting): Fixed formatting mistakes"
          body: |
            - There has been a mishap and formatting mistakes have sneaked into prod
            - Auto-generated by [create-pull-request][1]
            PR comes from [this Workflow Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            [ 1 ]: https://github.com/peter-evans/create-pull-request
          assignees: CommanderStorm
          branch: chore/formatting-fixes
          delete-branch: true
