name: "staticcheck"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: "Run staticcheck"
    runs-on: ubuntu-latest
    strategy:
      matrix: { dir: [ './server' ] }
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          version: "2022.1"
          working-directory: ${{ matrix.dir }}
